body{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    background: rgb(195, 242, 210);
    color: black;
}

.video{
    text-align: center;
    margin-bottom: 40px;
}

.steps{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    margin-bottom: 40px;
}

.text{
    padding: 15px;
}

.image img{
    max-width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 6px;
}